apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: nginx-demo
  namespace: nginx-demo
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nginx-demo
  template:
    metadata:
      labels:
        app: nginx-demo
        version: blue # This will change to 'green' when we update
    spec:
      containers:
        - name: nginx
          image: 416716292256.dkr.ecr.us-west-2.amazonaws.com/nginx-demo-app:154f5ebfdafa6dcd051999c8cd9008090937d7b8
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
          resources:
            limits:
              cpu: 50m
              memory: 64Mi
            requests:
              cpu: 25m
              memory: 32Mi
      volumes:
        - name: html
          configMap:
            name: nginx-blue # Start with Blue version
  strategy:
    blueGreen:
      activeService: nginx-demo
      previewService: nginx-demo-preview
      autoPromotionEnabled: false
      autoPromotionSeconds: 30
      scaleDownDelaySeconds: 30
